body {
	--vscode-activityBar-activeBackground: rgba(189, 147, 249, 0.06);
	--vscode-activityBar-activeBorder: rgba(255, 121, 198, 0.5);
	--vscode-activityBar-background: #343746;
	--vscode-activityBar-dropBorder: #f8f8f2;
	--vscode-activityBar-foreground: #f8f8f2;
	--vscode-activityBar-inactiveForeground: #6272a4;
	--vscode-activityBarBadge-background: #00bcd4;
	--vscode-activityBarBadge-foreground: #f8f8f2;
	--vscode-badge-background: #44475a;
	--vscode-badge-foreground: #f8f8f2;
	--vscode-banner-background: #44475a;
	--vscode-banner-foreground: #00bcd4;
	--vscode-banner-iconForeground: #3794ff;
	--vscode-breadcrumb-activeSelectionForeground: #00bcd4;
	--vscode-breadcrumb-background: #282a36;
	--vscode-breadcrumb-focusForeground: #f8f8f2;
	--vscode-breadcrumb-foreground: #6272a4;
	--vscode-breadcrumbPicker-background: #191a21;
	--vscode-button-background: #44475a;
	--vscode-button-foreground: #f8f8f2;
	--vscode-button-hoverBackground: #52556c;
	--vscode-button-secondaryBackground: #282a36;
	--vscode-button-secondaryForeground: #f8f8f2;
	--vscode-button-secondaryHoverBackground: #343746;
	--vscode-charts-blue: #3794ff;
	--vscode-charts-foreground: #f8f8f2;
	--vscode-charts-green: #89d185;
	--vscode-charts-lines: rgba(248, 248, 242, 0.5);
	--vscode-charts-orange: #d18616;
	--vscode-charts-purple: #b180d7;
	--vscode-charts-red: #ff5555;
	--vscode-charts-yellow: #8be9fd;
	--vscode-checkbox-background: #343746;
	--vscode-checkbox-border: #191a21;
	--vscode-checkbox-foreground: #f8f8f2;
	--vscode-debugConsole-errorForeground: #ff5555;
	--vscode-debugConsole-infoForeground: #3794ff;
	--vscode-debugConsole-sourceForeground: #f8f8f2;
	--vscode-debugConsole-warningForeground: #8be9fd;
	--vscode-debugConsoleInputIcon-foreground: #f8f8f2;
	--vscode-debugExceptionWidget-background: #420b0d;
	--vscode-debugExceptionWidget-border: #a31515;
	--vscode-debugIcon-breakpointCurrentStackframeForeground: #ffcc00;
	--vscode-debugIcon-breakpointDisabledForeground: #848484;
	--vscode-debugIcon-breakpointForeground: #e51400;
	--vscode-debugIcon-breakpointStackframeForeground: #89d185;
	--vscode-debugIcon-breakpointUnverifiedForeground: #848484;
	--vscode-debugIcon-continueForeground: #75beff;
	--vscode-debugIcon-disconnectForeground: #f48771;
	--vscode-debugIcon-pauseForeground: #75beff;
	--vscode-debugIcon-restartForeground: #89d185;
	--vscode-debugIcon-startForeground: #89d185;
	--vscode-debugIcon-stepBackForeground: #75beff;
	--vscode-debugIcon-stepIntoForeground: #75beff;
	--vscode-debugIcon-stepOutForeground: #75beff;
	--vscode-debugIcon-stepOverForeground: #75beff;
	--vscode-debugIcon-stopForeground: #f48771;
	--vscode-debugTokenExpression-boolean: #4e94ce;
	--vscode-debugTokenExpression-error: #f48771;
	--vscode-debugTokenExpression-name: #c586c0;
	--vscode-debugTokenExpression-number: #b5cea8;
	--vscode-debugTokenExpression-string: #ce9178;
	--vscode-debugTokenExpression-value: rgba(204, 204, 204, 0.6);
	--vscode-debugToolBar-background: #21222c;
	--vscode-debugView-exceptionLabelBackground: #6c2022;
	--vscode-debugView-exceptionLabelForeground: #f8f8f2;
	--vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
	--vscode-debugView-stateLabelForeground: #f8f8f2;
	--vscode-debugView-valueChangedHighlight: #569cd6;
	--vscode-descriptionForeground: rgba(248, 248, 242, 0.7);
	--vscode-diffEditor-diagonalFill: rgba(204, 204, 204, 0.2);
	--vscode-diffEditor-insertedTextBackground: rgba(80, 250, 123, 0.13);
	--vscode-diffEditor-removedTextBackground: rgba(255, 85, 85, 0.31);
	--vscode-dropdown-background: #343746;
	--vscode-dropdown-border: #191a21;
	--vscode-dropdown-foreground: #f8f8f2;
	--vscode-editor-background: #282a36;
	--vscode-editor-findMatchBackground: rgba(255, 184, 108, 0.5);
	--vscode-editor-findMatchHighlightBackground: rgba(255, 255, 255, 0.25);
	--vscode-editor-findRangeHighlightBackground: rgba(68, 71, 90, 0.46);
	--vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
	--vscode-editor-foldBackground: #21222c;
	--vscode-editor-font-family: 'Cascadia Code PL', 'Cascadia Code', 'JetBrains Mono', 'SF Mono', 'Fira Code Retina',
		'FiraCode-Retina', 'Fira Code', 'Source Code Pro', monospace;
	--vscode-editor-font-size: 17px;
	--vscode-editor-font-weight: 400;
	--vscode-editor-foreground: #f8f8f2;
	--vscode-editor-hoverHighlightBackground: rgba(139, 233, 253, 0.31);
	--vscode-editor-inactiveSelectionBackground: rgba(68, 71, 90, 0.5);
	--vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
	--vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
	--vscode-editor-lineHighlightBorder: #44475a;
	--vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
	--vscode-editor-rangeHighlightBackground: rgba(189, 147, 249, 0.08);
	--vscode-editor-selectionBackground: #44475a;
	--vscode-editor-selectionHighlightBackground: #424450;
	--vscode-editor-snippetFinalTabstopHighlightBackground: #282a36;
	--vscode-editor-snippetFinalTabstopHighlightBorder: #50fa7b;
	--vscode-editor-snippetTabstopHighlightBackground: #282a36;
	--vscode-editor-snippetTabstopHighlightBorder: #6272a4;
	--vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
	--vscode-editor-symbolHighlightBackground: rgba(255, 255, 255, 0.25);
	--vscode-editor-wordHighlightBackground: rgba(139, 233, 253, 0.31);
	--vscode-editor-wordHighlightStrongBackground: rgba(80, 250, 123, 0.31);
	--vscode-editorActiveLineNumber-foreground: #c6c6c6;
	--vscode-editorBracketHighlight-foreground1: #f8f8f2;
	--vscode-editorBracketHighlight-foreground2: #ff79c6;
	--vscode-editorBracketHighlight-foreground3: #8be9fd;
	--vscode-editorBracketHighlight-foreground4: #50fa7b;
	--vscode-editorBracketHighlight-foreground5: #bd93f9;
	--vscode-editorBracketHighlight-foreground6: #ffb86c;
	--vscode-editorBracketHighlight-unexpectedBracket\.foreground: #ff5555;
	--vscode-editorBracketMatch-background: rgba(0, 100, 0, 0.1);
	--vscode-editorBracketMatch-border: #888888;
	--vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
	--vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
	--vscode-editorCodeLens-foreground: #6272a4;
	--vscode-editorCursor-foreground: #aeafad;
	--vscode-editorError-foreground: #ff5555;
	--vscode-editorGhostText-foreground: rgba(255, 255, 255, 0.34);
	--vscode-editorGroup-border: #bd93f9;
	--vscode-editorGroup-dropBackground: rgba(68, 71, 90, 0.44);
	--vscode-editorGroupHeader-noTabsBackground: #282a36;
	--vscode-editorGroupHeader-tabsBackground: #191a21;
	--vscode-editorGutter-addedBackground: rgba(80, 250, 123, 0.5);
	--vscode-editorGutter-background: #282a36;
	--vscode-editorGutter-commentRangeForeground: #c5c5c5;
	--vscode-editorGutter-deletedBackground: rgba(255, 85, 85, 0.5);
	--vscode-editorGutter-foldingControlForeground: #c5c5c5;
	--vscode-editorGutter-modifiedBackground: rgba(139, 233, 253, 0.5);
	--vscode-editorHint-foreground: rgba(238, 238, 238, 0.7);
	--vscode-editorHoverWidget-background: #282a36;
	--vscode-editorHoverWidget-border: #6272a4;
	--vscode-editorHoverWidget-foreground: #f8f8f2;
	--vscode-editorHoverWidget-highlightForeground: #00bcd4;
	--vscode-editorHoverWidget-statusBarBackground: #303241;
	--vscode-editorIndentGuide-activeBackground: rgba(255, 255, 255, 0.27);
	--vscode-editorIndentGuide-background: rgba(255, 255, 255, 0.1);
	--vscode-editorInfo-foreground: #3794ff;
	--vscode-editorInlayHint-background: rgba(68, 71, 90, 0.6);
	--vscode-editorInlayHint-foreground: rgba(248, 248, 242, 0.8);
	--vscode-editorInlayHint-parameterBackground: rgba(68, 71, 90, 0.6);
	--vscode-editorInlayHint-parameterForeground: rgba(248, 248, 242, 0.8);
	--vscode-editorInlayHint-typeBackground: rgba(68, 71, 90, 0.6);
	--vscode-editorInlayHint-typeForeground: rgba(248, 248, 242, 0.8);
	--vscode-editorLightBulb-foreground: #ffcc00;
	--vscode-editorLightBulbAutoFix-foreground: #75beff;
	--vscode-editorLineNumber-activeForeground: #c6c6c6;
	--vscode-editorLineNumber-foreground: #6272a4;
	--vscode-editorLink-activeForeground: #8be9fd;
	--vscode-editorMarkerNavigation-background: #21222c;
	--vscode-editorMarkerNavigationError-background: #ff5555;
	--vscode-editorMarkerNavigationError-headerBackground: rgba(255, 85, 85, 0.1);
	--vscode-editorMarkerNavigationInfo-background: #3794ff;
	--vscode-editorMarkerNavigationInfo-headerBackground: rgba(55, 148, 255, 0.1);
	--vscode-editorMarkerNavigationWarning-background: #8be9fd;
	--vscode-editorMarkerNavigationWarning-headerBackground: rgba(139, 233, 253, 0.1);
	--vscode-editorOverviewRuler-addedForeground: rgba(80, 250, 123, 0.5);
	--vscode-editorOverviewRuler-border: #191a21;
	--vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
	--vscode-editorOverviewRuler-commonContentForeground: rgba(96, 96, 96, 0.4);
	--vscode-editorOverviewRuler-currentContentForeground: #50fa7b;
	--vscode-editorOverviewRuler-deletedForeground: rgba(255, 85, 85, 0.5);
	--vscode-editorOverviewRuler-errorForeground: rgba(255, 85, 85, 0.5);
	--vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
	--vscode-editorOverviewRuler-incomingContentForeground: #bd93f9;
	--vscode-editorOverviewRuler-infoForeground: rgba(139, 233, 253, 0.5);
	--vscode-editorOverviewRuler-modifiedForeground: rgba(139, 233, 253, 0.5);
	--vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
	--vscode-editorOverviewRuler-selectionHighlightForeground: #ffb86c;
	--vscode-editorOverviewRuler-warningForeground: rgba(255, 184, 108, 0.5);
	--vscode-editorOverviewRuler-wordHighlightForeground: #8be9fd;
	--vscode-editorOverviewRuler-wordHighlightStrongForeground: #50fa7b;
	--vscode-editorPane-background: #282a36;
	--vscode-editorRuler-foreground: rgba(255, 255, 255, 0.1);
	--vscode-editorSuggestWidget-background: #21222c;
	--vscode-editorSuggestWidget-border: #00bcd4;
	--vscode-editorSuggestWidget-focusHighlightForeground: #00bcd4;
	--vscode-editorSuggestWidget-foreground: #f8f8f2;
	--vscode-editorSuggestWidget-highlightForeground: #00bcd4;
	--vscode-editorSuggestWidget-selectedBackground: #44475a;
	--vscode-editorSuggestWidget-selectedForeground: #00bcd4;
	--vscode-editorSuggestWidgetStatus-foreground: rgba(248, 248, 242, 0.5);
	--vscode-editorUnicodeHighlight-border: #bd9b03;
	--vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.67);
	--vscode-editorWarning-foreground: #8be9fd;
	--vscode-editorWhitespace-foreground: rgba(255, 255, 255, 0.1);
	--vscode-editorWidget-background: #21222c;
	--vscode-editorWidget-border: #00bcd4;
	--vscode-editorWidget-foreground: #f8f8f2;
	--vscode-editorWidget-resizeBorder: #00bcd4;
	--vscode-errorForeground: #ff5555;
	--vscode-extensionBadge-remoteBackground: #00bcd4;
	--vscode-extensionBadge-remoteForeground: #f8f8f2;
	--vscode-extensionButton-prominentBackground: rgba(80, 250, 123, 0.56);
	--vscode-extensionButton-prominentForeground: #f8f8f2;
	--vscode-extensionButton-prominentHoverBackground: rgba(80, 250, 123, 0.38);
	--vscode-extensionIcon-preReleaseForeground: #1d9271;
	--vscode-extensionIcon-starForeground: #ff8e00;
	--vscode-extensionIcon-verifiedForeground: #00bcd4;
	--vscode-focusBorder: #6272a4;
	--vscode-font-family: 'Segoe WPC', 'Segoe UI', sans-serif;
	--vscode-font-size: 13px;
	--vscode-font-weight: normal;
	--vscode-foreground: #f8f8f2;
	--vscode-gitDecoration-addedResourceForeground: #81b88b;
	--vscode-gitDecoration-conflictingResourceForeground: #ffb86c;
	--vscode-gitDecoration-deletedResourceForeground: #ff5555;
	--vscode-gitDecoration-ignoredResourceForeground: #6272a4;
	--vscode-gitDecoration-modifiedResourceForeground: #8be9fd;
	--vscode-gitDecoration-renamedResourceForeground: #73c991;
	--vscode-gitDecoration-stageDeletedResourceForeground: #c74e39;
	--vscode-gitDecoration-stageModifiedResourceForeground: #e2c08d;
	--vscode-gitDecoration-submoduleResourceForeground: #8db9e2;
	--vscode-gitDecoration-untrackedResourceForeground: #50fa7b;
	--vscode-gitlens-closedPullRequestIconColor: #f85149;
	--vscode-gitlens-decorations\.addedForegroundColor: #81b88b;
	--vscode-gitlens-decorations\.branchAheadForegroundColor: #35b15e;
	--vscode-gitlens-decorations\.branchBehindForegroundColor: #b15e35;
	--vscode-gitlens-decorations\.branchDivergedForegroundColor: #d8af1b;
	--vscode-gitlens-decorations\.branchMissingUpstreamForegroundColor: #c74e39;
	--vscode-gitlens-decorations\.branchUnpublishedForegroundColor: #35b15e;
	--vscode-gitlens-decorations\.copiedForegroundColor: #73c991;
	--vscode-gitlens-decorations\.deletedForegroundColor: #ff5555;
	--vscode-gitlens-decorations\.ignoredForegroundColor: #6272a4;
	--vscode-gitlens-decorations\.modifiedForegroundColor: #8be9fd;
	--vscode-gitlens-decorations\.renamedForegroundColor: #73c991;
	--vscode-gitlens-decorations\.untrackedForegroundColor: #50fa7b;
	--vscode-gitlens-gutterBackgroundColor: rgba(255, 255, 255, 0.07);
	--vscode-gitlens-gutterForegroundColor: #bebebe;
	--vscode-gitlens-gutterUncommittedForegroundColor: rgba(0, 188, 242, 0.6);
	--vscode-gitlens-lineHighlightBackgroundColor: rgba(0, 188, 242, 0.2);
	--vscode-gitlens-lineHighlightOverviewRulerColor: rgba(0, 188, 242, 0.6);
	--vscode-gitlens-mergedPullRequestIconColor: #995dff;
	--vscode-gitlens-openPullRequestIconColor: #56d364;
	--vscode-gitlens-trailingLineBackgroundColor: rgba(0, 0, 0, 0);
	--vscode-gitlens-trailingLineForegroundColor: rgba(153, 153, 153, 0.35);
	--vscode-gitlens-unpublishedCommitIconColor: #35b15e;
	--vscode-gitlens-unpulledChangesIconColor: #b15e35;
	--vscode-gitlens-unpushlishedChangesIconColor: #35b15e;
	--vscode-icon-foreground: #c5c5c5;
	--vscode-input-background: #282a36;
	--vscode-input-border: #191a21;
	--vscode-input-foreground: #f8f8f2;
	--vscode-input-placeholderForeground: #6272a4;
	--vscode-inputOption-activeBackground: rgba(98, 114, 164, 0.4);
	--vscode-inputOption-activeBorder: #bd93f9;
	--vscode-inputOption-activeForeground: #ffffff;
	--vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
	--vscode-inputValidation-errorBackground: #5a1d1d;
	--vscode-inputValidation-errorBorder: #ff5555;
	--vscode-inputValidation-infoBackground: #063b49;
	--vscode-inputValidation-infoBorder: #ff79c6;
	--vscode-inputValidation-warningBackground: #352a05;
	--vscode-inputValidation-warningBorder: #ffb86c;
	--vscode-interactive-activeCodeBorder: #44475a;
	--vscode-interactive-inactiveCodeBorder: rgba(68, 71, 90, 0.46);
	--vscode-keybindingLabel-background: rgba(128, 128, 128, 0.17);
	--vscode-keybindingLabel-border: rgba(51, 51, 51, 0.6);
	--vscode-keybindingLabel-bottomBorder: rgba(68, 68, 68, 0.6);
	--vscode-keybindingLabel-foreground: #cccccc;
	--vscode-keybindingTable-headerBackground: rgba(248, 248, 242, 0.04);
	--vscode-keybindingTable-rowsBackground: rgba(248, 248, 242, 0.04);
	--vscode-list-activeSelectionBackground: #44475a;
	--vscode-list-activeSelectionForeground: #00bcd4;
	--vscode-list-deemphasizedForeground: #8c8c8c;
	--vscode-list-dropBackground: #44475a;
	--vscode-list-errorForeground: #ff5555;
	--vscode-list-filterMatchBackground: rgba(255, 255, 255, 0.25);
	--vscode-list-focusBackground: rgba(68, 71, 90, 0.46);
	--vscode-list-focusHighlightForeground: #00bcd4;
	--vscode-list-focusOutline: #6272a4;
	--vscode-list-highlightForeground: #00bcd4;
	--vscode-list-hoverBackground: rgba(68, 71, 90, 0.46);
	--vscode-list-inactiveSelectionBackground: rgba(68, 71, 90, 0.46);
	--vscode-list-inactiveSelectionForeground: #00bcd4;
	--vscode-list-invalidItemForeground: #b89500;
	--vscode-list-warningForeground: #ffb86c;
	--vscode-listFilterWidget-background: #343746;
	--vscode-listFilterWidget-noMatchesOutline: #ff5555;
	--vscode-listFilterWidget-outline: #424450;
	--vscode-menu-background: #343746;
	--vscode-menu-foreground: #f8f8f2;
	--vscode-menu-selectionBackground: #44475a;
	--vscode-menu-selectionForeground: #00bcd4;
	--vscode-menu-separatorBackground: #bbbbbb;
	--vscode-menubar-selectionBackground: rgba(255, 255, 255, 0.1);
	--vscode-menubar-selectionForeground: #00bcd4;
	--vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
	--vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
	--vscode-merge-currentContentBackground: rgba(80, 250, 123, 0.23);
	--vscode-merge-currentHeaderBackground: rgba(80, 250, 123, 0.56);
	--vscode-merge-incomingContentBackground: rgba(189, 147, 249, 0.23);
	--vscode-merge-incomingHeaderBackground: rgba(189, 147, 249, 0.56);
	--vscode-minimap-errorHighlight: rgba(255, 18, 18, 0.7);
	--vscode-minimap-findMatchHighlight: #d18616;
	--vscode-minimap-foregroundOpacity: #000000;
	--vscode-minimap-selectionHighlight: #264f78;
	--vscode-minimap-selectionOccurrenceHighlight: #676767;
	--vscode-minimap-warningHighlight: #8be9fd;
	--vscode-minimapGutter-addedBackground: #587c0c;
	--vscode-minimapGutter-deletedBackground: #94151b;
	--vscode-minimapGutter-modifiedBackground: #0c7d9d;
	--vscode-minimapSlider-activeBackground: rgba(0, 188, 212, 0.16);
	--vscode-minimapSlider-background: rgba(121, 121, 121, 0.2);
	--vscode-minimapSlider-hoverBackground: rgba(100, 100, 100, 0.35);
	--vscode-notebook-cellBorderColor: rgba(68, 71, 90, 0.46);
	--vscode-notebook-cellEditorBackground: #21222c;
	--vscode-notebook-cellInsertionIndicator: #6272a4;
	--vscode-notebook-cellStatusBarItemHoverBackground: rgba(255, 255, 255, 0.15);
	--vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
	--vscode-notebook-focusedCellBorder: #6272a4;
	--vscode-notebook-focusedEditorBorder: #6272a4;
	--vscode-notebook-inactiveFocusedCellBorder: rgba(68, 71, 90, 0.46);
	--vscode-notebook-selectedCellBackground: rgba(68, 71, 90, 0.46);
	--vscode-notebook-selectedCellBorder: rgba(68, 71, 90, 0.46);
	--vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
	--vscode-notebookScrollbarSlider-activeBackground: rgba(0, 188, 212, 0.31);
	--vscode-notebookScrollbarSlider-background: rgba(121, 121, 121, 0.4);
	--vscode-notebookScrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
	--vscode-notebookStatusErrorIcon-foreground: #ff5555;
	--vscode-notebookStatusRunningIcon-foreground: #f8f8f2;
	--vscode-notebookStatusSuccessIcon-foreground: #89d185;
	--vscode-notificationCenterHeader-background: #2b2c39;
	--vscode-notificationLink-foreground: #00bcd4;
	--vscode-notifications-background: #21222c;
	--vscode-notifications-border: #2b2c39;
	--vscode-notifications-foreground: #f8f8f2;
	--vscode-notificationsErrorIcon-foreground: #ff5555;
	--vscode-notificationsInfoIcon-foreground: #3794ff;
	--vscode-notificationsWarningIcon-foreground: #8be9fd;
	--vscode-panel-background: #282a36;
	--vscode-panel-border: #bd93f9;
	--vscode-panel-dropBorder: #f8f8f2;
	--vscode-panelSection-border: #bd93f9;
	--vscode-panelSection-dropBackground: rgba(68, 71, 90, 0.44);
	--vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
	--vscode-panelTitle-activeBorder: #00bcd4;
	--vscode-panelTitle-activeForeground: #f8f8f2;
	--vscode-panelTitle-inactiveForeground: #6272a4;
	--vscode-peekView-border: #44475a;
	--vscode-peekViewEditor-background: #282a36;
	--vscode-peekViewEditor-matchHighlightBackground: rgba(241, 250, 140, 0.5);
	--vscode-peekViewEditorGutter-background: #282a36;
	--vscode-peekViewResult-background: #21222c;
	--vscode-peekViewResult-fileForeground: #f8f8f2;
	--vscode-peekViewResult-lineForeground: #f8f8f2;
	--vscode-peekViewResult-matchHighlightBackground: rgba(241, 250, 140, 0.5);
	--vscode-peekViewResult-selectionBackground: #44475a;
	--vscode-peekViewResult-selectionForeground: #f8f8f2;
	--vscode-peekViewTitle-background: #191a21;
	--vscode-peekViewTitleDescription-foreground: #6272a4;
	--vscode-peekViewTitleLabel-foreground: #f8f8f2;
	--vscode-pickerGroup-border: #bd93f9;
	--vscode-pickerGroup-foreground: #00bcd4;
	--vscode-ports-iconRunningProcessForeground: #bd93f9;
	--vscode-problemsErrorIcon-foreground: #ff5555;
	--vscode-problemsInfoIcon-foreground: #3794ff;
	--vscode-problemsWarningIcon-foreground: #8be9fd;
	--vscode-progressBar-background: #00bcd4;
	--vscode-quickInput-background: #21222c;
	--vscode-quickInput-foreground: #f8f8f2;
	--vscode-quickInputList-focusBackground: #44475a;
	--vscode-quickInputList-focusForeground: #00bcd4;
	--vscode-quickInputTitle-background: rgba(255, 255, 255, 0.1);
	--vscode-remoteHub-decorations\.addedForegroundColor: #81b88b;
	--vscode-remoteHub-decorations\.conflictForegroundColor: #e4676b;
	--vscode-remoteHub-decorations\.deletedForegroundColor: #c74e39;
	--vscode-remoteHub-decorations\.incomingAddedForegroundColor: #81b88b;
	--vscode-remoteHub-decorations\.incomingDeletedForegroundColor: #c74e39;
	--vscode-remoteHub-decorations\.incomingModifiedForegroundColor: #e2c08d;
	--vscode-remoteHub-decorations\.incomingRenamedForegroundColor: #73c991;
	--vscode-remoteHub-decorations\.modifiedForegroundColor: #e2c08d;
	--vscode-remoteHub-decorations\.possibleConflictForegroundColor: #b15e35;
	--vscode-remoteHub-decorations\.workspaceRepositoriesView\.hasUncommittedChangesForegroundColor: #e2c08d;
	--vscode-sash-hoverBorder: #6272a4;
	--vscode-scm-providerBorder: #454545;
	--vscode-scrollbar-shadow: #000000;
	--vscode-scrollbarSlider-activeBackground: rgba(0, 188, 212, 0.31);
	--vscode-scrollbarSlider-background: rgba(121, 121, 121, 0.4);
	--vscode-scrollbarSlider-hoverBackground: rgba(100, 100, 100, 0.7);
	--vscode-searchEditor-findMatchBackground: rgba(255, 255, 255, 0.17);
	--vscode-searchEditor-textInputBorder: #191a21;
	--vscode-selection-background: #bd93f9;
	--vscode-settings-checkboxBackground: #21222c;
	--vscode-settings-checkboxBorder: #191a21;
	--vscode-settings-checkboxForeground: #f8f8f2;
	--vscode-settings-dropdownBackground: #21222c;
	--vscode-settings-dropdownBorder: #191a21;
	--vscode-settings-dropdownForeground: #f8f8f2;
	--vscode-settings-dropdownListBorder: #00bcd4;
	--vscode-settings-focusedRowBackground: rgba(128, 128, 128, 0.14);
	--vscode-settings-focusedRowBorder: rgba(255, 255, 255, 0.12);
	--vscode-settings-headerForeground: #00bcd4;
	--vscode-settings-modifiedItemIndicator: #00bcd4;
	--vscode-settings-numberInputBackground: #21222c;
	--vscode-settings-numberInputBorder: #191a21;
	--vscode-settings-numberInputForeground: #f8f8f2;
	--vscode-settings-rowHoverBackground: rgba(128, 128, 128, 0.07);
	--vscode-settings-textInputBackground: #21222c;
	--vscode-settings-textInputBorder: #191a21;
	--vscode-settings-textInputForeground: #f8f8f2;
	--vscode-sideBar-background: #21222c;
	--vscode-sideBar-dropBackground: rgba(68, 71, 90, 0.44);
	--vscode-sideBarSectionHeader-background: #282a36;
	--vscode-sideBarSectionHeader-border: #191a21;
	--vscode-sideBarTitle-foreground: #f8f8f2;
	--vscode-sideBySideEditor-horizontalBorder: #bd93f9;
	--vscode-sideBySideEditor-verticalBorder: #bd93f9;
	--vscode-statusBar-background: #191a21;
	--vscode-statusBar-debuggingBackground: #ff5555;
	--vscode-statusBar-debuggingForeground: #191a21;
	--vscode-statusBar-foreground: #f8f8f2;
	--vscode-statusBar-noFolderBackground: #191a21;
	--vscode-statusBar-noFolderForeground: #f8f8f2;
	--vscode-statusBarItem-activeBackground: rgba(255, 255, 255, 0.18);
	--vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
	--vscode-statusBarItem-errorBackground: #cc0000;
	--vscode-statusBarItem-errorForeground: #ffffff;
	--vscode-statusBarItem-hoverBackground: rgba(255, 255, 255, 0.12);
	--vscode-statusBarItem-prominentBackground: #ff5555;
	--vscode-statusBarItem-prominentForeground: #f8f8f2;
	--vscode-statusBarItem-prominentHoverBackground: #ffb86c;
	--vscode-statusBarItem-remoteBackground: #bd93f9;
	--vscode-statusBarItem-remoteForeground: #282a36;
	--vscode-statusBarItem-warningBackground: #04bde7;
	--vscode-statusBarItem-warningForeground: #ffffff;
	--vscode-symbolIcon-arrayForeground: #f8f8f2;
	--vscode-symbolIcon-booleanForeground: #f8f8f2;
	--vscode-symbolIcon-classForeground: #ee9d28;
	--vscode-symbolIcon-colorForeground: #f8f8f2;
	--vscode-symbolIcon-constantForeground: #f8f8f2;
	--vscode-symbolIcon-constructorForeground: #b180d7;
	--vscode-symbolIcon-enumeratorForeground: #ee9d28;
	--vscode-symbolIcon-enumeratorMemberForeground: #75beff;
	--vscode-symbolIcon-eventForeground: #ee9d28;
	--vscode-symbolIcon-fieldForeground: #75beff;
	--vscode-symbolIcon-fileForeground: #f8f8f2;
	--vscode-symbolIcon-folderForeground: #f8f8f2;
	--vscode-symbolIcon-functionForeground: #b180d7;
	--vscode-symbolIcon-interfaceForeground: #75beff;
	--vscode-symbolIcon-keyForeground: #f8f8f2;
	--vscode-symbolIcon-keywordForeground: #f8f8f2;
	--vscode-symbolIcon-methodForeground: #b180d7;
	--vscode-symbolIcon-moduleForeground: #f8f8f2;
	--vscode-symbolIcon-namespaceForeground: #f8f8f2;
	--vscode-symbolIcon-nullForeground: #f8f8f2;
	--vscode-symbolIcon-numberForeground: #f8f8f2;
	--vscode-symbolIcon-objectForeground: #f8f8f2;
	--vscode-symbolIcon-operatorForeground: #f8f8f2;
	--vscode-symbolIcon-packageForeground: #f8f8f2;
	--vscode-symbolIcon-propertyForeground: #f8f8f2;
	--vscode-symbolIcon-referenceForeground: #f8f8f2;
	--vscode-symbolIcon-snippetForeground: #f8f8f2;
	--vscode-symbolIcon-stringForeground: #f8f8f2;
	--vscode-symbolIcon-structForeground: #f8f8f2;
	--vscode-symbolIcon-textForeground: #f8f8f2;
	--vscode-symbolIcon-typeParameterForeground: #f8f8f2;
	--vscode-symbolIcon-unitForeground: #f8f8f2;
	--vscode-symbolIcon-variableForeground: #75beff;
	--vscode-tab-activeBackground: #282a36;
	--vscode-tab-activeBorder: #00bcd4;
	--vscode-tab-activeBorderTop: rgba(255, 121, 198, 0.5);
	--vscode-tab-activeForeground: #f8f8f2;
	--vscode-tab-activeModifiedBorder: #3399cc;
	--vscode-tab-border: #191a21;
	--vscode-tab-inactiveBackground: #21222c;
	--vscode-tab-inactiveForeground: #6272a4;
	--vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
	--vscode-tab-lastPinnedBorder: #585858;
	--vscode-tab-unfocusedActiveBackground: #282a36;
	--vscode-tab-unfocusedActiveBorder: rgba(0, 188, 212, 0.5);
	--vscode-tab-unfocusedActiveBorderTop: rgba(255, 121, 198, 0.25);
	--vscode-tab-unfocusedActiveForeground: rgba(248, 248, 242, 0.5);
	--vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
	--vscode-tab-unfocusedInactiveBackground: #21222c;
	--vscode-tab-unfocusedInactiveForeground: rgba(98, 114, 164, 0.5);
	--vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
	--vscode-terminal-ansiBlack: #21222c;
	--vscode-terminal-ansiBlue: #bd93f9;
	--vscode-terminal-ansiBrightBlack: #6272a4;
	--vscode-terminal-ansiBrightBlue: #d6acff;
	--vscode-terminal-ansiBrightCyan: #a4ffff;
	--vscode-terminal-ansiBrightGreen: #69ff94;
	--vscode-terminal-ansiBrightMagenta: #ff92df;
	--vscode-terminal-ansiBrightRed: #ff6e6e;
	--vscode-terminal-ansiBrightWhite: #ffffff;
	--vscode-terminal-ansiBrightYellow: #ffffa5;
	--vscode-terminal-ansiCyan: #8be9fd;
	--vscode-terminal-ansiGreen: #50fa7b;
	--vscode-terminal-ansiMagenta: #ff79c6;
	--vscode-terminal-ansiRed: #ff5555;
	--vscode-terminal-ansiWhite: #f8f8f2;
	--vscode-terminal-ansiYellow: #f1fa8c;
	--vscode-terminal-background: #282a36;
	--vscode-terminal-border: #bd93f9;
	--vscode-terminal-dropBackground: rgba(68, 71, 90, 0.44);
	--vscode-terminal-foreground: #f8f8f2;
	--vscode-terminal-selectionBackground: rgba(255, 255, 255, 0.25);
	--vscode-terminal-tab\.activeBorder: #00bcd4;
	--vscode-testing-iconErrored: #f14c4c;
	--vscode-testing-iconFailed: #f14c4c;
	--vscode-testing-iconPassed: #73c991;
	--vscode-testing-iconQueued: #cca700;
	--vscode-testing-iconSkipped: #848484;
	--vscode-testing-iconUnset: #848484;
	--vscode-testing-message\.error\.decorationForeground: #ff5555;
	--vscode-testing-message\.error\.lineBackground: rgba(255, 0, 0, 0.2);
	--vscode-testing-message\.info\.decorationForeground: rgba(248, 248, 242, 0.5);
	--vscode-testing-peekBorder: #ff5555;
	--vscode-testing-peekHeaderBackground: rgba(255, 85, 85, 0.1);
	--vscode-testing-runAction: #73c991;
	--vscode-textBlockQuote-background: rgba(127, 127, 127, 0.1);
	--vscode-textBlockQuote-border: rgba(0, 122, 204, 0.5);
	--vscode-textCodeBlock-background: rgba(10, 10, 10, 0.4);
	--vscode-textLink-activeForeground: #3794ff;
	--vscode-textLink-foreground: #00bcd4;
	--vscode-textPreformat-foreground: #d7ba7d;
	--vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
	--vscode-titleBar-activeBackground: #21222c;
	--vscode-titleBar-activeForeground: #f8f8f2;
	--vscode-titleBar-inactiveBackground: #191a21;
	--vscode-titleBar-inactiveForeground: #6272a4;
	--vscode-toolbar-activeBackground: rgba(99, 102, 103, 0.31);
	--vscode-toolbar-hoverBackground: rgba(90, 93, 94, 0.31);
	--vscode-tree-indentGuidesStroke: #585858;
	--vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
	--vscode-tree-tableOddRowsBackground: rgba(248, 248, 242, 0.04);
	--vscode-walkThrough-embeddedEditorBackground: #21222c;
	--vscode-welcomePage-progress\.background: #282a36;
	--vscode-welcomePage-progress\.foreground: #00bcd4;
	--vscode-welcomePage-tileBackground: #21222c;
	--vscode-welcomePage-tileHoverBackground: #282935;
	--vscode-welcomePage-tileShadow: rgba(0, 0, 0, 0.36);
	--vscode-widget-shadow: rgba(0, 0, 0, 0.36);
}
