// Base colors
$light: #f0f0f0;
$light-secondary: rgb(210, 236, 255);
$light-tertiary: rgba(210, 236, 255, 0.25);
$light-inactive: rgb(213 215 216 / 30%);

$dark: hsl(189, 12%, 33%);
$dark-secondary: hsl(190, 11%, 50%);
$dark-tertiary: hsla(190, 11%, 50%, 0.25);
$dark-inactive: $light-tertiary;

// Element colors
$card-background: rgba(255, 255, 255, 0.02);

/* Routemap GCM colors */
// $gcm: SpringGreen, Tomato, SkyBlue, PaleVioletRed, NavajoWhite, MintCream, DarkOrchid, LimeGreen, Gold, DeepPink, Coral, DodgerBlue, GhostWhite, Thistle;
// Key is background, value is foreground
$gcm: (
	1 '#00ff7f' $dark,
	2 '#ff6347' $light,
	3 '#87ceeb' $light,
	4 '#d87093' $light,
	5 '#ffdead' $dark,
	6 '#f5fffa' $dark,
	7 '#9932cc' $light,
	8 '#32cd32' $light,
	9 '#ffd700' $dark,
	10 '#ff1493' $light,
	11 '#ff7f50' $dark,
	12 '#1e90ff' $light,
	13 '#f8f8ff' $dark,
	14 '#d8bfd8' $dark
);
