/* HEADER */

.subHeader {
	.fileName {
		font-family: monospace;
		font-weight: 600;
		&:first-of-type {
			text-align: right;
		}
	}
	.vs {
		border: 2px solid #ef5350;
		border-radius: 0.1rem;
		font-size: 0.75em;
		letter-spacing: 0;
		padding: 0.5rem 1rem;
		text-align: center;
		text-transform: uppercase;
	}
}
